.About {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.About .version {
    margin-top: 17%;
    display: block;
    padding: 1.5rem 0 0 0;
    text-align: center;
    font-size: 0.3rem;
    background: no-repeat top center;
    background-size: 3.05rem 1.31rem;
}