.TopTitle{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.TopTitle .topTitle{
    position: absolute;
    float: left;
    width: 100%;
    height: 1rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #ffffff;
}

.TopTitle .topBack{
    position: absolute;
    left: 0;
    width: 20%;
    height: 1rem;
    padding-top: 0.1rem;
}

.TopTitle .topBack img{
    width: 0.45rem;
    height: 0.45rem;
}

.TopTitle .moreIcon{
    position: absolute;
    right: 0;
    width: 20%;
    height: 1rem;
    padding-top: 0.1rem;
}

.TopTitle .moreIcon img{
    width: 0.45rem;
    height: 0.45rem;
}