.ActivityNone2{
    padding: 1.3rem 0.5rem 0.6rem 0.5rem;
    background: no-repeat,no-repeat;
    background-position: left 0.18rem bottom 0.1rem,right 0.18rem bottom 0.1rem;
    background-size: 1.4rem 1.5rem, 1.4rem 1.5rem;
}

.ActivityNone2 .ActivityIntroduce {
}

.ActivityNone2 .ActivityIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #8C9AFF;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone2 .ActivityIntroduce .IntroduceDown{
    height: 12.5rem;
    background-color: #FFFFFF;
    border-radius: 0 0 0.2rem 0.2rem;
    padding: 0.2rem 0.8rem 0 0.2rem;
}
.ActivityNone2 .ActivityIntroduce .IntroduceDown .content{
    padding-left: 0.6rem;
}
.ActivityNone2 .ActivityIntroduce .IntroduceDown p{
    font-size: 0.3rem;
    font-weight: bold;
}

.ActivityNone2 .ActivityIntroduce .IntroduceDown span{
    line-height: 0.44rem;
    font-size: 0.25rem;
}
.ActivityNone2 .VIPIntroduce {
    margin-top: 1.3rem;
}

.ActivityNone2 .VIPIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #8C9AFF;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone2 .VIPIntroduce .IntroduceDown{
    height: 3.5rem;
    background-color: #FFFFFF;
    border-radius: 0 0 0.2rem 0.2rem;
    padding: 0.2rem 0.1rem 0 0.1rem;
}
.ActivityNone2 .VIPIntroduce .IntroduceDown p{
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.3rem;
}

.ActivityNone2 .ActivityPoster{
    height: 3.5rem;
    margin: 0.5rem 0.3rem 0 0.3rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.ActivityNone2 .ActivityPoster img{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.ActivityNone2 .AuthorityText{
    text-align: center;
    margin-top: 0.2rem;
}
.ActivityNone2 .AuthorityText .text1{
    font-size: 0.2rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone2 .AuthorityText .text2{
    font-size: 0.25rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone2 .AuthorityText .text3{
    font-size: 0.2rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone2 .ApplyTerrace{
    height: 1.8rem;
    margin-left: 2.4rem;
}
.ActivityNone2 .ApplyTerrace img{
    width: 1.8rem;
    height: 1.8rem;
}

.ActivityNone2 .PassAnnotation{
    margin: 0.8rem 0 0 0;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
}



