.ActivityList5{
}

.ActivityList5 .BDUp{
    width: 100%;
    height: 3.5rem;
    background:no-repeat top center;
    background-size: 100% 100%;
}
.ActivityList5 .BDMiddle{
    width: 100%;
    margin-top: -50px;
}
.ActivityList5 .BDMiddle div{
    width:100%;
    height: 1px;
    background: #E5FFF4;
}

.ActivityList5 .title {
    position: relative;
    height: 1.4rem;
    background: no-repeat center center;
    background-size: 5rem 1.4rem;
    margin: -0.8rem 0 0.25rem 0;
}

.ActivityList5 .SessionContent{
    margin:0 0.49rem 0 0.49rem;
}
.ActivityList5 .SessionContent .ContentList{
    margin-bottom: 0.32rem;
}
.ActivityList5 .SessionContent .ContentList .ListTitle{
    background: #8CFFCF;
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 0.19rem 0.34rem;
}
.ActivityList5 .SessionContent .ContentList .ListTitle span img{
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.4rem;
    margin-top: -0.05rem;
    border-radius: 50%;
}
.ActivityList5 .SessionContent .ContentList .ListTitle span {
    font-size: 0.29rem;
    color: #fff;
    display: block;
}
.ActivityList5 .SessionContent .ContentList .ListChange{
    width: 100%;
    background: #ffffff;
    padding: 0.2rem;
    border-radius: 0 0 0.3rem 0.3rem;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption{
    width: 5.84rem;
    height: auto;
    padding: 0  0.2rem 0.06rem 0.2rem;
    overflow: hidden;
}
.ActivityList5 .splitter {
    height: 1px;
    background: #979797;
    transform: scaleY(0.5);
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption .Option{
    width: 50%;
    height: 0.35rem;
    float: left;
    margin-bottom: 0.24rem;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption .Option span{
    margin-right: 0.15rem;
    font-size: 0.28rem;
    font-weight: 800;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption .Option .next{
    color: #FF8A02;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption .Option .changeOption{
    width: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    border-radius: 0.125rem;
    border: 0.01rem solid #979797;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeOption .Option .changeOptionNext{
    width: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    background: #FF8A02;
    border-radius: 0.125rem;
    border: 0.01rem solid #979797;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeDate{
    width: 100%;
    height: 0.51rem;
}
.ActivityList5 .SessionContent .ContentList .ListChange .ChangeDate p{
    font-size: 0.28rem;
    color: #9B9B9B;
    padding-top: 0.165rem;
    margin-left: 0.16rem;
    font-weight: 600;
}
.ActivityList5 .SessionReminder{
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.26rem;
    font-weight: bold;
    color: #009456;
    width: 100%;
    padding-left: 0.4rem;
    margin-bottom: 0.3rem;
}
.ActivityList5 .SessionReminder img{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #009456;
    border-radius: 50%;
    transform: translate(-0.4rem,0.12rem);
}
.ActivityList5 .ButtonContainer{    
    background: no-repeat,no-repeat;
    background-position: left 0.18rem bottom 0.1rem,right 0.18rem bottom 0;
    background-size: 1.4rem 1.5rem, 1.4rem 1.5rem;
    background-color: #E5FFF4;
}
.ActivityList5 .ButtonContainer .SessionButton{
    width: 100%;
    height: 1.3rem;
}
.ActivityList5 .ButtonContainer .SessionButton .btn{
    width: 4.76rem;
    height: 0.84rem;
    text-align: center;
    display: block;
    font-size: 0.33rem;
    margin-left: 1.37rem;
    border-radius: 0.66rem;
    line-height: 0.84rem;
    color: #ffffff;
}
.ActivityList5 .ButtonContainer .SessionAnnotation{
    width: 100%;
    height: 0.8rem;
    text-align: center;
}
.ActivityList5 .SessionAnnotation p{
    font-size: 0.2rem;
    color: #666666;
}
.ActivityList5 .unclickable{
    background: #D8D8D8;
    width: 0.25rem;
    height: 0.25rem;
    display: inline-block;
    border-radius: 0.125rem;
    border: 0.01rem solid #979797;
}
.ActivityList5 .SessionChange{
    width: 100%;
}
.ActivityList5 .SessionChange div{
    width:100%;
    height: 1px;
    background: #E5FFF4;
}


