.ActivityNone5{
    padding: 1.3rem 0.5rem 0.6rem 0.5rem;
    background: no-repeat,no-repeat;
    background-position: left 0.18rem bottom 0.1rem,right 0.18rem bottom 0.1rem;
    background-size: 1.4rem 1.5rem, 1.4rem 1.5rem;
}

.ActivityNone5 .ActivityIntroduce {
}

.ActivityNone5 .ActivityIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #8CFFCF;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone5 .ActivityIntroduce .IntroduceDown{
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 0 0 0.2rem 0.2rem;
}
.ActivityNone5 .VIPIntroduce {
    margin-top: 1.3rem;
}

.ActivityNone5 .VIPIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #8CFFCF;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone5 .VIPIntroduce .IntroduceDown{
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 0 0 0.2rem 0.2rem;
}

.ActivityNone5 .ActivityPoster{
    height: 3.5rem;
    margin: 0.5rem 0.3rem 0 0.3rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.ActivityNone5 .ActivityPoster img{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.ActivityNone5 .AuthorityText{
    text-align: center;
    margin-top: 0.2rem;
}
.ActivityNone5 .AuthorityText .text1{
    font-size: 0.2rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone5 .AuthorityText .text2{
    font-size: 0.25rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone5 .AuthorityText .text3{
    font-size: 0.2rem;
    color: #940000;
    font-weight: 600;
}
.ActivityNone5 .ApplyTerrace{
    height: 1.8rem;
    margin-left: 2.4rem;
}
.ActivityNone5 .ApplyTerrace img{
    width: 1.8rem;
    height: 1.8rem;
}

.ActivityNone5 .PassAnnotation{
    margin: 0.8rem 0 0 0;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
}



