.ActivityNone3{
    padding: 1.3rem 0.5rem 0.6rem 0.5rem;
    background: no-repeat,no-repeat;
    background-position: left 0.18rem bottom 0.1rem,right 0.18rem bottom 0.1rem;
    background-size: 1.4rem 1.5rem, 1.4rem 1.5rem;
}

.ActivityNone3 .ActivityIntroduce {
}

.ActivityNone3 .ActivityIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #9B9B9B;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone3 .ActivityIntroduce .IntroduceDown{
    height: 6rem;
    background-color: #EEEEEE;
    border-radius: 0 0 0.2rem 0.2rem;
}
.ActivityNone3 .VIPIntroduce {
    margin-top: 1.3rem;
}

.ActivityNone3 .VIPIntroduce .IntroduceUp{
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #9B9B9B;
    border-radius: 0.3rem 0.3rem 0 0;
}

.ActivityNone3 .VIPIntroduce .IntroduceDown{
    height: 6rem;
    background-color: #EEEEEE;
    border-radius: 0 0 0.2rem 0.2rem;
}

.ActivityNone3 .ActivityPoster{
    height: 3.5rem;
    margin: 0.5rem 0.3rem 0 0.3rem;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: #9B9B9B;
    -moz-box-shadow:0.13rem 0.13rem 0 #C67202, -0.13rem -0.13rem 0 #03A2FF; 
    -webkit-box-shadow:0.13rem 0.13rem 0 #C67202, -0.13rem -0.13rem 0 #03A2FF; 
    box-shadow:0.13rem 0.13rem 0 #C67202, -0.13rem -0.13rem 0 #03A2FF;
}
.ActivityNone3 .ActivityPoster img{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.ActivityNone3 .ApplyTerrace{
    height: 2.1rem;
    margin: 0.5rem 0.2rem 0 0.2rem;
}
.ActivityNone3 .ApplyTerrace img{
    width: 100%;
    height: 100%;
}

.ActivityNone3 .PassAnnotation{
    margin: 0.8rem 0 0 0;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
}



