.OrderList {
    background: #eee;
}

.OrderList .order-list {
    padding-top: 1.1rem;
}

.OrderList .order-list li {
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.24rem;
}

.OrderList .order-list li:first-child {
    border-top: 1px solid #ddd;
}

.OrderList .order-list li .item-header {
    border-bottom: 1px solid #eee;
    width: 100%;
    display: block;
    overflow: hidden;
    background: no-repeat right 0.2rem center;
    background-size: 0.16rem 0.25rem;
}

.OrderList .order-list li .item-header label {
    float: left;
    width: 50%;
    padding-left: 0.2rem;
    font-size: 0.3rem;
    line-height: 0.63rem;
    display: block;
}

.OrderList .order-list li .item-header span {
    float: left;
    width: 50%;
    padding-right: 0.6rem;
    font-size: 0.3rem;
    line-height: 0.63rem;
    text-align: right;
    display: block;
}

.OrderList .order-list .sku-list {
    overflow: auto;
    width: 100%;
    float: left;
}

.OrderList .order-list .sku-list a {
    width: 1.64rem;
    height: 1.64rem;
    background: no-repeat left center;
    background-size: 1.64rem 1.64rem;
    margin: 0.14rem 0 0.14rem 0.2rem;
    float: left;
}

.OrderList .order-list .sku-item {
    display: block;
    padding: 0.14rem 0.2rem;
    height: 1.92rem;
    background: no-repeat 0.2rem center;
    background-size: 1.64rem 1.64rem;
}

.OrderList .order-list .sku-item h6 {
    margin-left: 1.84rem;
    margin-right: 0.24rem;
    padding-top: 0.06rem;
    width: 5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.28rem;
    overflow: hidden;
}

.OrderList .order-list .sku-item label {
    padding-left: 1.84rem;
    padding-right: 0.4rem;
    font-size: 0.26rem;
    display: block;
}

.OrderList .order-list .sku-item label>em {
    color: #888;
    margin-left: 0.2rem;
    font-size: 0.24rem;
}

.OrderList .order-list .sku-item .sku-item-info {
    font-size: 0.28rem;
    color: #ff4242;
    padding-left: 1.84rem;
    margin-top: 0.3rem;
}

.OrderList .order-list .sku-item span>em {
    font-size: 0.24rem;
    color: #ff4242;
}

.OrderList .item-buttons {
    border-top: 1px solid #eee;
    padding: 0.24rem;
    overflow: hidden;
}

.OrderList .item-buttons label {
    float: right;
    width: 100%;
    text-align: right;
    font-size: 0.28rem;
}

.OrderList .item-buttons a {
    float: right;
    border: 1px solid #bbb;
    font-size: 0.28rem;
    margin-left: 0.24rem;
    margin-top: 0.16rem;
    padding: 0.12rem 0;
    text-align: center;
    width: 1.8rem;
    border-radius: 0.08rem;
}

.OrderList .bottom-line {
    display: block;
    text-align: center;
    font-size: 0.3rem;
    margin-bottom: 0.3rem;
}

.OrderList .icon-promotion {
    width: .78rem;
    height: .32rem;
    background: url('../Activity/SaleActivity/img/complimentary@3x.png') no-repeat 0 0;
    background-size: cover;
}
.OrderList .icon-add-price {
    display: inline-block;
    vertical-align: middle;
    width: .82rem;
    height: .32rem;
    background: url('../Activity/SaleActivity/img/AddPrice@2x.png') no-repeat 0 0;
    background-size: cover;
}
.OrderList .icon-time-limit {
    display: inline-block;
    vertical-align: middle;
    width:.82rem;
    height:.32rem;
    background: url('../Home/labal3_xianshigou@2x.png') no-repeat 0 0;
    background-size: .8rem .28rem;
}